@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h4>Segundo Examen Parcial</h4>
    <h4>carnet: 2017pr653 Nombre: David antonio Palacios ramirez </h4>
    <div class="gallery">
        <img src="https://storageparcial2017pr653.blob.core.windows.net/gallery/050209d3-04f8-4606-b140-e50b376fbcae.png" />
        <img src="https://storageparcial2017pr653.blob.core.windows.net/gallery/asp.net-border.png" />
        <img src="https://storageparcial2017pr653.blob.core.windows.net/gallery/flat,550x550,075,f.jpg" />
        <img src="https://storageparcial2017pr653.blob.core.windows.net/gallery/java.jpg" />
        <img src="https://storageparcial2017pr653.blob.core.windows.net/gallery/OIP4ATMZ6TF.jpg" />
    
    </div>
</div>
